<!--NombreFiscal-->
<form class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationTooltip01">NombreFiscal</label>
        <input type="text" class="form-control" id="validationTooltip01" placeholder="NombreFiscal" value="NombreFiscal" required>
        <div class="valid-tooltip">
        </div>
      </div>
  
  <!--RIF/ID-->
      <div class="col-md-4 mb-3">
        <label for="validationTooltip02">RIF</label>
        <input type="text" class="form-control" id="validationTooltip02" placeholder="RIF" value="RIF" required>
        <div class="valid-tooltip">
        </div>
      </div>
  
   <!--Ubicacion-->
  <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Ubicacion</label>
      <input type="text" class="form-control" id="validationTooltip02" placeholder="Ubicacion" value="Ubicacion" required>
      <div class="valid-tooltip">
      </div>
    </div>
  
    
    <button class="btn btn-primary" type="submit">Submit form</button>
  