<!--Nombre-->
<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationTooltip01">Nombre</label>
      <input type="text" class="form-control" id="validationTooltip01" placeholder="Nombre" value="Nombre" required>
      <div class="valid-tooltip">
      </div>
    </div>

<!--Duracion-->
    <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Duracion</label>
      <input type="text" class="form-control" id="validationTooltip02" placeholder="Duracion" value="Minutos" required>
      <div class="valid-tooltip">
      </div>
    </div>

    <!--Censura-->
    <div class="col-md-4 mb-3">
      Censura
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          A   
        </label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            B   
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              C   
            </label>
          </div>
        </div>  
 <!--Descripcion-->
<div class="col-md-4 mb-3">
    <label for="validationTooltip02">Descripcion</label>
    <input type="text" class="form-control" id="validationTooltip02" placeholder="Descripcion" value="Descripcion" required>
    <div class="valid-tooltip">
    </div>
  </div>

   <!--Doblaje-->
   <div class="col-md-4 mb-3">
      Doblaje
  <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Espanol
      </label>
      <br>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
      <label class="form-check-label" for="defaultCheck1">
          Ingles
        </label>
    </div>
  </div>
        <!--Subtitulos-->
        <div class="col-md-4 mb-3">
            Subtitulos
          <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
        <label class="form-check-label" for="defaultCheck1">
          Espanol
        </label>
        <br>
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
        <label class="form-check-label" for="defaultCheck1">
            Ingles
          </label>
      </div>
    </div>

      <!--Fecha Estreno -->
  <div class="form-group">
      <div class="col-md-4 mb-3">
      <label for="exampleFormControlSelect1">Fecha de Estreno</label>
      <select class="form-control" id="exampleFormControlSelect1">
        Dia
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <select class="form-control" id="exampleFormControlSelect1">
          Mes
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <select class="form-control" id="exampleFormControlSelect1">
            Ano
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
    </div>
    </div>
<br>
  <button class="btn btn-primary" type="submit">Submit form</button>
